html {
    position: relative;
    height: 100vh;
    background: url(../images/story.jpeg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
}

div.boxes {
    position: absolute;
    right: 2.5%;
}

div.logo {
    position: relative;
    left: 2%;
    color: #DFDCED;
    font-size: 32px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }