html {
    background: rgb(69,42,27);
    background: -moz-linear-gradient(90deg, rgba(69,42,27,1) 0%, rgba(79,52,47,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(69,42,27,1) 0%, rgba(79,52,47,1) 100%);
    background: linear-gradient(90deg, rgba(69,42,27,1) 0%, rgba(79,52,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#452a1b",endColorstr="#4f342f",GradientType=1);
}

body {
    height: 100vh;
    background: rgb(26, 25, 25, 0.7);
    color: rgb(255, 255, 255)
}

#all-container {
    width: 100vw;
}

#story-and-accepter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#option-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

#story-table {
    font-size: 24px;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 80vw;
    border-collapse: collapse;
}

#story-table td {
    background: #000;
    border: 1px solid #fff;
    padding: 6px;
    vertical-align: top;
    word-break: break-all;
    white-space: normal;
}

#story-table th {
    text-align: left;
}

#center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100px;
}

.accept-skip {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border: 2px ridge #804060;
    width: 20vw;
}