html {
    background: rgb(69,42,27);
    background: -moz-linear-gradient(90deg, rgba(69,42,27,1) 0%, rgba(79,52,47,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(69,42,27,1) 0%, rgba(79,52,47,1) 100%);
    background: linear-gradient(90deg, rgba(69,42,27,1) 0%, rgba(79,52,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#452a1b",endColorstr="#4f342f",GradientType=1);
}

body {
    height: 100vh;
    background: rgb(26, 25, 25, 0.7);
    color: #fff
}

#all-container {
    width: 100%;
}

#story-head {
    font-size: 24px;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 80vw;
    border-collapse: collapse;
}

#story-head:hover {
    cursor: pointer;
}

#story-head td {
    background: #000;
    vertical-align: top;
    border: 1px solid #fff;
    padding: 6px;
    word-break: break-all;
    white-space: normal;
}

.StoryTitle {
    text-align: left;
}