
body {
    background: rgb(35, 35, 35, 0.7);
    min-width: 100%;
    min-height: 100%;
    color: #fff;
}

#all-container {
    width: 100%;
}

#story-head {
    font-size: 24px;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 80vw;
    border-collapse: collapse;
}

#story-head:hover {
    cursor: pointer;
}

#story-head td {
    background: #000;
    vertical-align: top;
    border: 1px solid #fff;
    padding: 6px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 70vw;
}

.StoryTitle {
    text-align: left;
}