html {
    background: rgb(39, 32, 27);
}

body {
    height: 100vh;
    background: rgb(39, 32, 27);
    color: #fff;
}

#story-text {
    resize: none;
    margin: 3vh 3vw 1vh;
    width: 87vw;
    height: 66vh;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 5px;
}

#text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#submit-button {
    width: 15vw;
    height: 10vh;
    font-size: 2vw;
    border: none;
    background: #DFDCED;
    border-radius: 10px;
}

#title-container {
    display: flex;
    justify-content: flex-start;
    margin: 3vh 3vw;
}

#title {
    margin-left: 1vw;
    width: 80vw;
    resize: none;
    font-size: 24px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 5px;
}

#received-title {
    margin-left: 1vw;
    width: 80vw;
    font-size: 24px;
    background: #DFDCED;
    border: none;
    border-radius: 5px;
    text-align: left;
}

#story-table {
    font-size: 24px;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    width: 80vw;
    max-width: 80vw;
    border-collapse: collapse;
}

#story-table td {
    background: #000;
    border: 1px solid #fff;
    padding: 6px;
    vertical-align: top;
    word-wrap: break-word;
    white-space: normal;
    max-width: 70vw;
}

#story-table th {
    text-align: left;
}