#story-text {
    resize: none;
    margin: 3vh 3vw;
    width: 87vw;
    height: 66vh;
    font-size: 24px;
    background: #DFDCED;
    border: none;
    border-radius: 5px;
}

#text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#submit-button {
    width: 15vw;
    height: 10vh;
    font-size: 2vw;
    border: none;
    background: #DFDCED;
    border-radius: 10px;
}

#title-container {
    display: flex;
    justify-content: flex-start;
    margin: 3vh 3vw;
}

#title {
    margin-left: 1vw;
    width: 80vw;
    resize: none;
    font-size: 24px;
    background: #DFDCED;
    border: none;
    border-radius: 5px;
}