<!DOCTYPE html>

<html>
    <head>
        <title>
            U Stories
        </title>
        <link rel="icon" href="{{ url_for('static',filename='images/U-Logo.png') }}" type="image/png"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">
        {% block styles %}{% endblock %}

    </head>
    <body>
        <header>
            <div class="header">
                <div class="logo">
                    <p>
                        U Stories{% block page %}{% endblock %}
                    </p>
                </div>
                <div class="boxes">
                    {% block navbuttons %}{% endblock %}
                </div>
            </div>
        </header>

        <section>

            <div class="bulk">
                <div class="body">
                    {% block content %}{% endblock %}
                </div>
            </div>
            
        </section>
    </body>
</html>