{% extends '_base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/write-story.css') }}">
{% endblock %}

{% block navbuttons %}
    <!-- Save story would act similar to submit, except isFinished would be set to false once that actually works -->
    <button type="button" class="header" onclick="location.href='/p/homepage.html';">Save Story</button>
    <button type="button" class="header" onclick="location.href='/p/homepage.html';">Back to Homepage</button>
{% endblock %}

{% block content %}
    
    <div id="all-container">
        <table id="story-table">
            <colgroup>
                <col span='1' style='width: 20%;'>
                <col span='1' style='width: 80%;'>
            </colgroup>
            <tr>
                <th colspan="2">
                    {{ story_list[0]['title'] }}
                </th>
            </tr>
            {% for story in story_list %}
                <tr>
                    <td>
                        {{ story['author'] }}
                    </td>
                    <td>
                        {{ story['text'] }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <form method="post" action="/create-new-story" onsubmit="return checkEmptyAndWarn()">
            <div id="text-container">
                <input name="title" id="title" type="hidden"></input>
                
                <textarea name="story-text" id="story-text" maxlength="1500"></textarea>
                <h2>Characters: <span id="word-count">-</span> / 1500</h2>
                <div id="submit-story">
                    <input type="submit" value="Submit Story" id="submit-button" onclick="if(!isEmpty()){location.href='/p/homepage.html';}">
                </div>
            </div>
        </form>
    </div>

    <!-- Needs to be called underneath body because 'story-text' and 'word-count' need to exist before this is called -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/word_counter.js') }}"></script>

{% endblock %}