{% extends '_base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/confirm-receive-story.css') }}">
{% endblock %}

{% block navbuttons %}
    <button type="button" class="header" onclick="location.href='/p/homepage.html';">Back to Homepage</button>
{% endblock %}

{% block content %}
    <div id="all-container">
        <div id="story-and-accepter">

            <table id="story-table">
                <colgroup>
                    <col span='1' style='width: 20%;'>
                    <col span='1' style='width: 80%;'>
                </colgroup>
                <tr>
                    <th colspan="2">
                        {{ story_list[0]['title'] }}
                    </th>
                </tr>
                {% for story in story_list %}
                    <tr>
                        <td>
                            {{ story['author'] }}
                        </td>
                        <td>
                            {{ story['text'] }}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <input type="hidden" id="story-id" value="{{ story_list[0].id }}">
        </div>

        <!-- Options to skip or accept story -->
        <div id="option-container">
            <div id="skip-story" draggable="true" ondragstart="drag(this.id,event);">
                <a class="btn btn-outline-warning btn-lg" href="/p/receive-story.html" role="button">Skip</a>
            </div>

            <div id="accept-story" draggable="true" ondragstart="drag(this.id,event);">
                <a class="btn btn-outline-warning btn-lg" href="/p/append-story.html?id={{ story_list[0].id }}" role="button">Accept</a>
            </div>
        </div>
        <p></p>
    </div>
{% endblock %}
