{% extends '_base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/homepage.css') }}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
              <h1>{{ username }}</h1>
                <a class="btn btn-outline-warning btn-lg" href="/p/write-story.html" role="button">Start writing a story</a>
                <a class="btn btn-outline-warning btn-lg" href="/p/receive-story.html" role="button">Receive a story</a>
            </div>
        </div>
    </div>
{% endblock %}
