<!DOCTYPE html>

<html>
    <head>
        <title>Signup</title>
        <link rel="icon" href="{{ url_for('static',filename='images/U-Logo.png') }}" type="image/png"/>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/login-signup-base.css') }}">
    </head>

    <body>
        <div id="body">
            <div class="overlay">
                <div class="form-section">
                    <h3>Sign up</h3>
                    <form method="post" action="/sign-up" onsubmit="return isEmptyAndWarn()">
                        <div class="form-input">
                            <input type="text" id="username" name="username" placeholder="Username" required="true" autofocus>
                        </div>
                        <div class="form-input">
                            <input type="password" id="password" name="password" placeholder="Password" required="true">
                        </div>
                        <button type="submit" onclick="if(!isEmpty()){location.href='/p/homepage.html';}" class="btn btn-primary theme-button mt-4">Sign up</button>
                    </form>
                </div>
            </div>
            <div id='stars'></div>
            <div id='stars2'></div>
            <div id='stars3'></div>
        </div>
    </body>
</html>